.contact-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-modal__title {
  text-align: center;
  font-size: 1.8rem;
}

.contact-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-modal__form input,
.contact-modal__form textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.contact-modal__error {
  color: #ff7e7e;
  text-align: center;
  font-size: 0.9rem;
}

.contact-modal__send {
  padding: 0.7rem;
  border: none;
  background: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.contact-modal__send:hover {
  background: #ffddee;
}
