.crud-buttons {
  display: flex;
  gap: 0.5rem; /* separa los íconos entre sí */

  /* 
    Más adelante puedes ajustar:
    justify-content
    flex-direction
    tamaños
  */
}

.crud-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  /* Tamaño del botón clickeable */
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
