.crud-buttons {
  display: flex;
  gap: 1rem; 
}

.crud-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
