.project-card-stack {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; 
  width: 80%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .project-card-stack {
    gap: 3.5rem; 
  }
}