.project-card-stack-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

.project-card-stack {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; 
  width: 100%;
  display: flex;
  align-items: center;
}
