$darkbackground: #000000;
$backgroundseconddarkgradient: #272626;
$backgroundthirddarkgradient: #383838;

$colorwashfirst:#B890B8 ;
$colorwashsecond:#A5B2F8 ;
$colorwashthird:#AEA2DA ;
$colorwashfourth:#90A1D8 ;
$colorwashfifth:#B8B4E2 ;
$colorwashbg: #f5f2ff;



