@use "../../styles/variables.scss" as *;

.home-hero {
  width: 100%;
  min-height: 80vh; 
  padding: 2rem;
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 3rem;             
  margin-top: -10rem; 

  .home-logo-description {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;              
  }

  .logoname {
    max-width: 250px;   
  }

  .home-text {
    font-size: 1rem;      
    line-height: 1.4;
    color: white;
    font-family: $font-title;
  }

  .profile-image {
    max-width: 350px;       
    flex-shrink: 0;         
  }
}

.home-next-section {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; // ← ajusta el espacio debajo de esta sección (afecta qué tan abajo empieza el marquee)
}

.form-two-group {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  max-width: 40%;
  width: 100%; 
  flex-basis: 40%;
  flex-shrink: 0; 
}

.home-form-one, .home-form-two {
  margin-top: 2rem;
  width: 100%;
  z-index: 5;
}

.home-form-two {
  max-width: 100%;
  margin-top: -20rem;
  z-index: 10;
}

.home-form-one{
  max-width: 50%;
  margin-top: -12rem;
  margin-left: -2rem;
}

.form-two-group p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.socials-group{
  margin-top: 5rem;
  margin-left: -15rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: $font-subtitle
}


.marquee {
  margin-top: 18rem; 
  margin-bottom: 5rem; 
}
@media (min-width: 1500px) {
  .marquee {
    margin-top: 35rem; 
    margin-bottom: 10rem;  
  }
}


.home-projects {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 15rem;             
  display: flex;
  justify-content: center;       
  align-items: center;           
  margin-top: 1rem;              
}



@import './Homemedia.scss';
