
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;      
  height: 100vh;     
  background: rgba(0, 0, 0, 0.45); 
  backdrop-filter: blur(6px);      
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.modal-container {
  background: rgba(255, 255, 255, 0.12);   
  backdrop-filter: blur(15px);             
  border-radius: 20px;
  padding: 2.5rem;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);

  

  
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
