.marquee {
  width: 100vw; 
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
}

.marquee-track {
  display: flex;
  width: max-content;       
  will-change: transform;
  animation: marquee-move 20s linear infinite;
}

.marquee-item {
  width: 380px;    
  flex-shrink: 0;  
  opacity: 0.9;
  margin-top: 10rem;
}


@keyframes marquee-move {
  from {
    transform: translateX(-50%); 
    
  }
  to {
    transform: translateX(0%);   
    
  }
}
