@use "../../styles/variables.scss" as *;

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  //position: fixed;//
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(12px);
  background:  linear-gradient(
  to bottom,
  #202020 0%,
  #252424 60%,
  #2d2d2d 100%
);

  .navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* DESKTOP BUTTONS */
  .navbar-links {
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  /* HAMBURGER BUTTON */
  .navbar-menu-btn {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  /* MOBILE MENU */
  .navbar-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);

    @media (min-width: 769px) {
      display: none;
    }
  }
}
