.dark-background {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.dark-background__inner {
  position: relative;
  z-index: 1;
  width: 100%;
}


.dark-background--bottom {
  background-image: url("../../assets/wavedown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.dark-background--top {
  background-image: url("../../assets/waveup.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


@media (max-width: 480px) {
  .dark-background--bottom {
    background-image: url("../../assets/waves-mobile-final.svg");
    background-position: center bottom;
    min-height: 40vh;
  }

  .dark-background--top {
    background-image: url("../../assets/waveup.svg"); 
    background-position: center top;
    min-height: 40vh;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  .dark-background {
    min-height: 105vh;
  }
}


@media (min-width: 768px) and (max-width: 1199px) {
  .dark-background {
    min-height: 110vh;
  }
}

@media (min-width: 1200px) {
  .dark-background {
    min-height: 120vh;
  }
}
