@use "../../../styles/variables" as *;

.info-btn {
  background: transparent;
  border: 1px solid $colorwashfirst;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: 0.25s ease;

  &:hover {
    border-color: $colorwashfirst;
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    transform: scale(0.97);
  }
}
