@use "../../../styles/variables" as *;

.info-btn {
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 4px;
  transition: 0.25s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    transform: scale(0.97);
  }

  
  & + .info-btn::before {
    content: "/";
    color: white;
    padding: 0 8px; 
    opacity: 0.6;
  }
}
